
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To LabManager!</h1>
    <div class="inventory-container">
        @*Chemicals link: *@
    <a class="chemicals-link" asp-action="Index" asp-controller="Chemicals">
        <img src="~/images/chemistry.png"/>
    </a>

    @*LabThings link: *@
        <a class="labthings-link" asp-action="Index" asp-controller="LabThings">
            <img src="~/images/centrifuge.png"/>
        </a>

    </div>

</div>
