@model LabManager.Models.ViewModels.ChemicalCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add New Chemical</h1>

<h4>Chemical</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Chemical.Name" class="control-label"></label>
                <input asp-for="Chemical.Name" class="form-control" />
                <span asp-validation-for="Chemical.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chemical.ReceivedDate" class="control-label"></label>
                <input asp-for="Chemical.ReceivedDate" class="form-control" />
                <span asp-validation-for="Chemical.ReceivedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chemical.OpenDate" class="control-label"></label>
                <input asp-for="Chemical.OpenDate" class="form-control" />
                <span asp-validation-for="Chemical.OpenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chemical.ExpirationDate" class="control-label"></label>
                <input asp-for="Chemical.ExpirationDate" class="form-control" />
                <span asp-validation-for="Chemical.ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chemical.COA" class="control-label"></label>
                <input asp-for="Chemical.COA" class="form-control" />
                <span asp-validation-for="Chemical.COA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chemical.OpenedBy" class="control-label"></label>
                <input asp-for="Chemical.OpenedBy" class="form-control" />
                <span asp-validation-for="Chemical.OpenedBy" class="text-danger"></span>
            </div>
            @*********************************************************************************@
            @*Dropdowns:*@

            <div class="form-group">
                <label asp-for="Chemical.ChemicalTypeID" class="control-label"></label>
                <select asp-for="Chemical.ChemicalTypeID" class="form-control" asp-items="@Model.ChemicalType"></select>
            </div>
            <div class="form-group">
                <label asp-for="Chemical.ManufacturerID" class="control-label"></label>
                <select asp-for="Chemical.ManufacturerID" class="form-control" asp-items="@Model.Manufacturer"></select>
            </div>

            <div class="form-group">
                <label asp-for="Chemical.EmployeeId" class="control-label"></label>
                <select asp-for="Chemical.EmployeeId" class="form-control" asp-items="@Model.Employee"></select>
            </div>
            @*********************************************************************************@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
