@model LabManager.Models.LabThing


@{
    ViewData["Title"] = "Edit";

}

<h1>Edit LabThing</h1>

<h4>LabThing</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />

                <div class="form-group">
                    <label asp-for="ID" class="control-label"></label>
                    <div>@Html.DisplayFor(model=> model.Name)</div>
                </div>
                <div class="form-group">
                    <label asp-for="SerialNo" class="control-label"></label>
                    <input asp-for="SerialNo" class="form-control" />
                    <span asp-validation-for="SerialNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModelNo" class="control-label"></label>
                    <input asp-for="ModelNo" class="form-control" />
                    <span asp-validation-for="ModelNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AcquisitionDate" class="control-label"></label>
                    <input asp-for="AcquisitionDate" class="form-control" />
                    <span asp-validation-for="AcquisitionDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CalibratedOn" class="control-label"></label>
                    <input asp-for="CalibratedOn" class="form-control" />
                    <span asp-validation-for="CalibratedOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CalibrationDue" class="control-label"></label>
                    <input asp-for="CalibrationDue" class="form-control" />
                    <span asp-validation-for="CalibrationDue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaintenanceOn" class="control-label"></label>
                    <input asp-for="MaintenanceOn" class="form-control" />
                    <span asp-validation-for="MaintenanceOn" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaintenanceDue" class="control-label"></label>
                    <input asp-for="MaintenanceDue" class="form-control" />
                    <span asp-validation-for="MaintenanceDue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="control-label"></label>
                    <input asp-for="Note" class="form-control" />
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
                @*********************************************************************************@
                @*Dropdowns:*@

                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Manufacturer" class="control-label"></label>
                    <select asp-for="ManufacturerID" class="form-control" asp-items="ViewBag.ManufacturerID"></select>
                </div>

                <div class="form-group">
                    <label asp-for="Employee" class="control-label"></label>
                    <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                </div>
                @*********************************************************************************@

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
